body {
    background: #53585c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #282927;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 10px 10px rgba(255, 255, 255, 0.2);
    width: 320px;
}

.calculator-display {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: right;
    background: #243a2c;
    color: #fff;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.btn {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0.3px 1.5px 2px white;
}

.btn:hover {
    background: #666;
}

.operator {
    background: #1874ca;
    color: #fff;
}

.operator:hover {
    background: #2b33d1;
}

.equal {
    margin: 5px 0 3px 0;
    border: none;
    grid-column: span 4;
    background: #28a745;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    transition: background 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.equal:hover {
    background: #34d058;
}
.clear{
    background-color: rgb(150, 12, 12);
}